.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px)  { .container { max-width: 540px; } }
@media (min-width: 768px)  { .container { max-width: 720px; } }
@media (min-width: 992px)  { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } }

/* container-lg — custom MarketPro */
.container-lg {
  max-width: 1680px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1749px) {
  .container-lg {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1750px) {
  .container-lg {
    padding-left: 12px;
    padding-right: 12px;
  }
}
