@use '@angular/material' as mat;

@include mat.core();

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  font-family: Roboto, sans-serif;
}

.mdc-notched-outline__notch {
  border-right: 0 !important;
}

